.ContainerHeadAuth {
  display: flex;
  flex-direction: column;
  gap: 1.2vw;
  max-width: 22.3vw;

  h1 {
    font-size: 3.3vw;
    font-weight: 600;
    line-height: 3.3vw;
    text-align: center;
    color: #000A1A;
  }

  p {
    font-size: 1vw;
    font-weight: 500;
    line-height: 1.2vw;
    text-align: center;
    color: #999DA3;
  }
}

.coloredText  {
  color: #0761FF;
}