.Button {
  border-radius: 3.9vw;
  border: none;
  outline: none;
  font-size: 0.8vw;
  font-weight: 600;
  line-height: 0.9vw;

  &.buttonSmall {
    max-width: 4.8vw;
    max-height: 2.6vw;
  }

  &.buttonBig {
    width: 18.75vw;
    height: 2.6vw;
  }

  &.defaultTheme {
    background-color: #0761FF;
    color: #FFFFFF;
  }

  &.greyTheme {
    background-color: #F3F5F9;
    color: #000A1A;
  }
}